<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,808},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,702},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,596},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,532},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,532},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,490},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,426},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,426},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,904},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,766},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,668},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,528},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,388},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_0e.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,628},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,490},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,904},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,766},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,628},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,248},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,490},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,384},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,320},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,320},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,320},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,320},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,798},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,660},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,522},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_2e.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,384},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,246},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,214},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,214},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,214},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,214},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,108},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,108},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,108},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_3e.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,108},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,108},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Poker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Poker.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00da543d956c777c81e20fb08eb4f964$</string>
            <key>textureFileName</key>
            <string>Poker.png</string>
        </dict>
    </dict>
</plist>
